<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <fieldset style="width: max-content">
            
            <p> <b> Title </b> {{ product.title }} </p>
            <p> <b> Price </b> ${{ product.price }} CAD </p>
            <p> <b> Description </b> {{ product.description }} </p>
            <p> <b> Image </b> <img src="/images/{{product.image}}" alt="">  </p>
        </fieldset>
    </center>
</body>
</html>