<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset style="width: fit-content; display: block; margin: auto">
        <legend>Student</legend>
        <table>
            <tr>
                <td> Name </td>
                <td> {{ student.name }} </td>
            </tr>
            <tr>
                <td> Age </td>
                <td> {{ student.age }} </td>
            </tr>
            <tr>
                <td> Grade </td>
                <td> {{ student.grade }} </td>
            </tr>
        </table>
    </fieldset>
</body>
</html>